<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h2 class="fs-1">Stop Watch</h2>
            </div>
        </div>
    </div>
</header>



<main>
    <div class="container">
        <div class="row justify-content-center align-items-center outer-box">
            <div
                class="col-md-7 col-11  inner-box rounded-2 shadow-lg d-flex justify-content-center align-items-center">
                <div>
                    <div class="fs-1 fw-bold mb-4 ps-4">
                        <span id="hrs">{{hrs}}</span> <span>:</span> <span id="min">{{min}}</span> <span>:</span> <span
                            id="sec">{{sec}}</span>
                    </div>
                    <div>
                        <button class="me-3 border-0 fs-1 shadow border-0 px-3" (click)="stopbtn()"><i
                                class="fa-solid fa-stop"></i></button>
                        <button class="me-3 border-0 fs-1 shadow border-0 px-3" id="playbtn" (click)="playbtn()"  [disabled]="buttonDisabled"><i
                                class="fa-solid fa-play"></i></button>
                        <button class="me-3 p-2 rounded shadow border-0 fs-2" (click)="clearbtn()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>